<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler"
          (click)="isCollapsed = !isCollapsed"
          type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse"
       (collapsed)="collapsed($event)"
       (expanded)="expanded($event)"
       [collapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="all">All <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" *ngFor="let item of menuItems" routerLinkActive="active">
        <a class="nav-link" [routerLink]="item.name">{{ item.name | capitalize}}</a>
      </li>
    </ul>
    <div class="navbar-nav">
        <div class="btn-group" dropdown>
          <a class="nav-link dropdown-toggle" dropdownToggle>
            Settings <span class="caret"></span>
          </a>
          <ul *dropdownMenu class="dropdown-menu" role="menu">
            <li role="menuitem">
              <a class="dropdown-item" (click)="onEditMode()">Edit Mode
                <i *ngIf="editMode" class="fa fa-check"></i>
              </a>
            </li>
            <li role="menuitem"><a class="dropdown-item" (click)="onCategories()">Categories</a></li>
            <li role="menuitem"><a class="dropdown-item" (click)="onExport()">Export Settings</a></li>
            <li role="menuitem"><a class="dropdown-item" (click)="onImport()">Import Settings</a></li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a class="dropdown-item" (click)="onAbout()">About</a>
            </li>
          </ul>
        </div>
      </div>
  </div>
</nav>

