ul.bg-dark>li>a.dropdown-item:hover {
  background-color: #141414;
  color: white;
}

a.editMode {
  display: inline-flex;
  padding-right: 0!important;
  padding-left: 0!important;
}

li.editMode {

}

.icons i {
  cursor: pointer;
}


@media (min-width: 992px) {
  li.editMode {
    margin-right: 5px;
    border: 1px dashed darkgray;
  }
}

