<div class="container fixed-top">
  <nav class="navbar navbar-expand-lg navbar-light bg-light"
       [ngClass]="{'navbar-light bg-light': !darkTheme,
                 'navbar-dark bg-dark' : darkTheme}">
    <button class="navbar-toggler"
            (click)="isCollapsed = !isCollapsed"
            type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse"
         [collapse]="isCollapsed">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" (click)="onCheckIfCollapsed()"
             routerLink="all">All <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" *ngFor="let item of menuItems" routerLinkActive="active">
          <a class="nav-link" [ngClass]="{'editMode': editMode}"
             (click)="onCheckIfCollapsed()"
             [routerLink]="item.name">{{ item.name | capitalize}}</a>
          <span class="icons" *ngIf="editMode">
            <i class="fa fa-pencil-square-o text-warning"
               (click)="onShowMenuItemEditForm(item)"
               aria-hidden="true"></i>
            <i class="fa fa-window-close text-danger"
               (click)="onDeleteMenuItem(item.name)"
               aria-hidden="true">

            </i>
          </span>
        </li>
        <li class="nav-item">
          <span class="icons">
            <a class="nav-link" (click)="onShowMenuItemAddForm()">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </a>
          </span>
        </li>
      </ul>
    </div>
    <div class="navbar-nav" *ngIf="isCollapsed">
      <div class="btn-group" dropdown>
        <a class="nav-link dropdown-toggle" dropdownToggle>
          Settings <span class="caret"></span>
        </a>
        <ul *dropdownMenu
            class="dropdown-menu"
            [ngClass]="{'bg-dark text-light' : darkTheme}"
            role="menu">
          <li role="menuitem">
            <a class="dropdown-item" (click)="onEditMode()">Edit Mode
              <i *ngIf="editMode" class="fa fa-check"></i>
            </a>
          </li>
          <li role="menuitem"><a class="dropdown-item" (click)="onSort()">Sort</a></li>
          <li role="menuitem"><a class="dropdown-item" (click)="onExport()">Export Settings</a></li>
          <li role="menuitem"><a class="dropdown-item" (click)="onImport()">Import Settings</a></li>
          <li role="menuitem"><a class="dropdown-item" (click)="onToggleTheme()">Change Theme</a></li>
          <li role="menuitem"><a class="dropdown-item" (click)="onToggleTarget()">
            New Tab Links
            <i *ngIf="newTabLink" class="fa fa-check"></i>
          </a></li>
          <li class="divider dropdown-divider"></li>
          <li role="menuitem"><a class="dropdown-item" (click)="onAbout()">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
