<div class="modal-content" [ngClass]="{'bg-dark text-light' : darkTheme}">
        <div class="modal-header">
          <h5 class="modal-title">Categories</h5>
          <button type="button" class="close"
                  [ngClass]="{'text-light' : darkTheme}"
                  (click)="bsModalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
          <div class="modal-body">
            <form (ngSubmit)="onAdd(f)" #f="ngForm">
              <div class="form-group">
                <label for="addCategory">Add Category</label>
                <input type="text"
                       class="form-control"
                       [ngClass]="{'bg-dark text-light' : darkTheme}"
                       id="addCategory"
                       name="name"
                       required
                       ngModel>
              </div>
              <div class="modal-footer">
                <button type="submit"
                        class="btn btn-primary"
                        [disabled]="f.invalid">
                  Add
                </button>
              </div>
            </form>
              <div class="form-group">
                <label for="deleteCategory">Delete Category</label>
                <select id="deleteCategory" class="form-control"
                        [ngClass]="{'bg-dark text-light' : darkTheme}"
                        [(ngModel)]="categoryToDelete">
                  <option *ngFor="let menuItem of (appState | async).menuItems">
                          {{ menuItem.name }}
                  </option>
                </select>
                <div *ngIf="categoryToDelete != undefined">
                    <div class="alert alert-danger">
                        Delete {{ categoryToDelete | capitalize }} Category?
                    </div>
                    <button class="btn btn-danger btn-sm" (click)="onDelete(categoryToDelete)">YES</button>
                </div>
              </div>
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="onHide()">Close</button>
        </div>
    </div>
