<div class="modal-content" [ngClass]="{'bg-dark text-light' : darkTheme}">
  <div class="modal-header">
    <h4 class="modal-title pull-left">About</h4>
    <button type="button" class="close pull-right"
            [ngClass]="{'text-light' : darkTheme}"
            aria-label="Close"
            (click)="onHide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Starting Page v0.6</p>
    <ul>
      <li>h - show this help</li>
      <li>n - toggle open link in current window or a new tab</li>
      <li>e - toggle edit mode</li>
      <li>s - toggle sort mode</li>
    </ul>
    <p>Used technologies: angular, bootstrap, ngx-bootstrap, ngrx/store</p>
    <p>Created by Vencator - vaclav.rysavy@tutanota.com</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="onHide()">Close</button>
  </div>
</div>
