<div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Settings</h5>
      <button type="button" class="close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
          <div class="form-group">
            <label for="addCategory">Add Category</label>
            <input type="text"
                   class="form-control"
                   id="addCategory"
                   name="addCategory"
                   required
                   ngModel>
          </div>
          <button type="submit"
                  class="btn btn-primary"
                  [disabled]="f.invalid">
            Add
          </button>
        </form>
          <div class="form-group">
            <label for="deleteCategory">Delete Category</label>
            <select id="deleteCategory" class="form-control" [(ngModel)]="categoryToDelete">
              <option *ngFor="let menuItem of menuItems">
                      {{ menuItem }}
              </option>
            </select>
            <div *ngIf="categoryToDelete != undefined">
                <span>Delete {{ categoryToDelete | capitalize }} Category?</span>
                <button class="btn btn-danger btn-sm" (click)="onDelete(categoryToDelete)">YES</button>
            </div>
          </div>
          <button class="btn btn-success" (click)="onExport()">Export</button>
          <button class="btn btn-info" (click)="importForm = !importForm">Import</button>
          <div class="form-group" *ngIf="importForm">
              <input type="file" 
                     id="import" 
                     name="importedFile" 
                     class="form-control"
                     #import="ngModel"
                     required
                     ngModel>
              <button type="button" class="btn btn-info"  (click)="onImport(import)" >Import</button>
          </div>          
      </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()">Close</button>
    </div>
</div>
