<div class="modal-content">
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">            
    <div class="modal-header">
      <h5 class="modal-title">Settings</h5>
      <button type="button" class="close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <ul class="list-group">
      <li class="list-group-item"
          *ngFor="let menuItem of menuItems; let i = index">
        <button class="btn btn-danger" type="button" (click)="onDelete(i)">X</button>
        {{ menuItem }}
      </li>
    </ul>
      <div class="modal-body">
          <div class="form-group">
            <label for="addCategory">Add Category</label>
            <input type="text"
                    id="addCategory"
                    name="category"
                    ngModel>
          </div>
      </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()">Close</button>
      <button type="submit" class="btn btn-primary">Save changes</button>
    </div>
  </form>    
</div>
